<h1>Edit <%= @player.name %></h1>

<form action="/players/<%= @player.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    Name:
    <input type="text" name="name" value="<%= @player.name %>">
  </div>
  <div>
    City:
    <input type="integer" name="value" value="<%= @player.value %>">
  </div>
  <div>
    <input type="submit" value="Update Player">
  </div>
</form>

<% if @players.count > 1 %>
  <h2>Delete This Player?</h2>
  <form action="/players/<%= @player.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <select name="new_player_id">
      <% @players.each do |p| %>
        <% unless p.id == @player.id %>
          <option value="<%= p.id %>"><%= p.name %></option>
        <% end %>
      <% end %>
    <input type="submit" value="Delete This Player!">
  </form>
<% end %>
